.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;

    li {
        display: flex;
        gap: 2em;
        gap: 2em;
    }
    .clickable {
        cursor: pointer;
    }
}